
<h1 class="title has-text-centered">Lista de Productos</h1>

<div class="columns is-multiline">
  {{#each products}}
  <div class="column is-one-third">
    <div class="card">
      <div class="card-content">
        <p class="title"><strong>{{this.title}}</strong></p>
        <p><strong>Description:</strong> {{this.description}}</p>
        <p><strong>Code:</strong> {{this.code}}</p>
        <p><strong>Price:</strong> ${{this.price}}</p>
        <p><strong>Stock:</strong> {{this.stock}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>


